* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    overflow-x: hidden;
    line-height: 1.30769231;
}

body {
    min-width: 320px;
    direction: ltr;
    text-align: left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    top: 4em;
    margin-bottom: auto;
    padding-top: 0;
    position: absolute;
    left: 50%;
    color: #222;
    transform: translate(-50%, -50%);
}

.logo span {
    color: #fff;
    font-size: 1.4em;
}

.list__items {
    list-style: none;
    display: flex;
    gap: 2em;
}

.list__items a {
    text-decoration: none;
}

nav {
    flex-basis: 100%;
}

header .nav-item:nth-of-type(1) {
    margin-left: auto;
}

.wrapper {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    width: 100%;
    height: 657px;
    align-items: center;
}

.container {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 350px;
    width: 600px;
    background: linear-gradient(150deg, #39ef74, #4600f1 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trocar {
    height: 2.2em;
}

input:focus, 
select:focus,
button:focus {
    outline: none;
}

#moedas_convert, #moedas_result {
    white-space: pre-line;
    margin: .7em;
} 

select {
    padding: .8em;
    width: 12em;
    border-radius: 6px;
}

input[type=number] {
    padding: .8em;
    width: 12em;
    border-radius: 6px;
    border: none;
}

.resultado {
    margin: 0 auto;
    position: absolute;
    bottom: 2em;
    font-size: 2.5em;
    color: aliceblue;
}